<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="flex flex-col md:flex-row gap-8 md:gap-0">
            <!-- SIDEBAR -->
            <aside
                class="flex justify-center items-center h-[calc(100vh-8rem)] pt-12 bg-gray-200 border-r border-b border-gray-400 rounded-b-xl w-full md:h-screen md:w-64"
            >
                <nav aria-label="Navigation principale">
                    <ul class="flex flex-col gap-4">
                        <li class="p-2">
                            <a
                                class="hover:text-blue-500 hover:underline"
                                href="/dashboard"
                                >Dashboard</a
                            >
                        </li>
                        <li class="p-2">
                            <a
                                class="hover:text-blue-500 hover:underline"
                                href="/catways"
                                >Catways</a
                            >
                        </li>
                        <li class="bg-blue-500 text-white p-2 rounded">
                            <a href="/reservations">Réservations</a>
                        </li>
                        <li class="p-2">
                            <a
                                class="hover:text-blue-500 hover:underline"
                                href="/users"
                                >Users</a
                            >
                        </li>
                        <li class="p-2">
                            <a
                                class="hover:text-blue-500 hover:underline"
                                href="#"
                                >Documentation de l'API</a
                            >
                        </li>
                        <li class="p-2">
                            <a
                                class="text-red-500 hover:text-red-600 hover:underline"
                                href="/api/users/logout"
                                >Se déconnecter</a
                            >
                        </li>
                    </ul>
                </nav>
            </aside>
            <!-- END SIDEBAR -->

            <!-- MAIN -->
            <main class="w-full flex flex-col justify-center gap-8">
                <h1 class="flex justify-center text-4xl font-bold mt-12">
                    Réservations
                </h1>

                <!-- RESERVATIONS ADD -->
                <section class="flex flex-col gap-4 md:p-4">
                    <h2 class="text-xl underline font-bold text-center">
                        Ajouter une réservation
                    </h2>
                    <form
                        id="reservationForm"
                        method="POST"
                        class="flex flex-col items-center gap-6 border border-gray-900 text-center rounded max-w-6xl mx-auto p-6"
                    >
                        <div class="grid grid-cols-2 gap-4">
                            <label for="clientName">Nom du client :</label>
                            <input
                                type="text"
                                id="clientName"
                                name="clientName"
                                required
                                class="border border-gray-900 p-2 rounded"
                            />
                            <label for="boatName">Nom du bateau :</label>
                            <input
                                type="text"
                                id="boatName"
                                name="boatName"
                                required
                                class="border border-gray-900 p-2 rounded"
                            />
                            <label for="catwayNumber">Numéro du catway :</label>
                            <input
                                type="number"
                                id="catwayNumber"
                                name="catwayNumber"
                                required
                                class="border border-gray-900 p-2 rounded"
                            />
                            <label for="startDate">Date de début :</label>
                            <input
                                type="datetime-local"
                                id="startDate"
                                name="startDate"
                                required
                                class="border border-gray-900 p-2 rounded"
                            />
                            <label for="endDate">Date de fin :</label>
                            <input
                                type="datetime-local"
                                id="endDate"
                                name="endDate"
                                required
                                class="border border-gray-900 p-2 rounded"
                            />
                        </div>
                        <button
                            type="submit"
                            class="bg-blue-500 text-white p-2 rounded"
                        >
                            Ajouter
                        </button>
                    </form>
                </section>
                <!-- END RESERVATIONS ADD -->

                <!-- RESERVATIONS -->
                <section class="flex flex-col gap-4 md:p-4">
                    <h2 class="text-xl underline font-bold text-center">
                        Réservations en cours
                    </h2>

                    <!-- RESERVATIONS TABLE -->
                    <% if (reservations.length === 0) { %>
                    <p>Aucune réservation trouvée.</p>
                    <% } else { %>
                    <table
                        class="border border-gray-900 text-center max-w-6xl mx-auto"
                    >
                        <!-- TABLE HEAD -->
                        <thead class="border border-gray-900 p-2 bg-blue-200">
                            <tr>
                                <th class="border border-gray-900 p-2 w-1/6">
                                    Client
                                </th>
                                <th class="border border-gray-900 p-2 w-1/6">
                                    Bateau
                                </th>
                                <th class="border border-gray-900 p-2 w-1/6">
                                    Catway
                                </th>
                                <th class="border border-gray-900 p-2 w-1/6">
                                    Debut
                                </th>
                                <th class="border border-gray-900 p-2 w-1/6">
                                    Fin
                                </th>
                            </tr>
                        </thead>
                        <!-- END TABLE HEAD -->

                        <!-- TABLE BODY -->
                        <tbody>
                            <% reservations.forEach(reservations => { %>
                            <tr>
                                <td class="border border-gray-900 p-2">
                                    <%= reservations.clientName %>
                                </td>

                                <td class="border border-gray-900 p-2">
                                    <%= reservations.boatName %>
                                </td>

                                <td class="border border-gray-900 p-2">
                                    <%= reservations.catwayNumber %>
                                </td>

                                <td class="border border-gray-900 p-2">
                                    <%=
                                    reservations.startDate.getDate().toString().padStart(2,
                                    "0") %> / <%=
                                    (reservations.startDate.getMonth() +
                                    1).toString().padStart(2, "0") %> / <%=
                                    reservations.startDate.getFullYear().toString().padStart(2,
                                    "0") %> <%=
                                    reservations.startDate.getHours().toString().padStart(2,
                                    "0") %>H
                                </td>

                                <td class="border border-gray-900 p-2">
                                    <%=
                                    reservations.endDate.getDate().toString().padStart(2,
                                    "0") %> / <%=
                                    (reservations.endDate.getMonth() +
                                    1).toString().padStart(2, "0") %> / <%=
                                    reservations.endDate.getFullYear().toString().padStart(2,
                                    "0") %> <%=
                                    reservations.endDate.getHours().toString().padStart(2,
                                    "0") %>H
                                </td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                    <% } %>
                    <!-- END RESERVATIONS TABLE -->
                </section>
                <!-- END RESERVATIONS -->
            </main>
            <!-- END MAIN -->
        </div>

        <script>
            const form = document.getElementById("reservationForm");
            form.addEventListener("submit", (e) => {
                e.preventDefault();
                const catwayNumber = form.catwayNumber.value;
                form.action = `/api/catways/${catwayNumber}/reservations`;
                form.submit();
            });
        </script>
    </body>
</html>
